name: Test build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore signing keystore
        run: |
          echo "${{ secrets.KEYSTORE_B64 }}" | base64 -d > key.keystore

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Gradle cache
        uses: burrunan/gradle-cache-action@v1

      - name: Build & Sign Release APK
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          chmod +x ./gradlew
          ./gradlew assembleRelease \
            -Psigning.storeFile=${{ github.workspace }}/key.keystore \
            -Psigning.storePassword="${{ secrets.KEYSTORE_PASSWORD }}" \
            -Psigning.keyAlias="${{ secrets.KEYSTORE_ENTRY_ALIAS }}" \
            -Psigning.keyPassword="${{ secrets.KEYSTORE_ENTRY_PASSWORD }}" \
            --no-daemon --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Morphe
          path: |
            app/build/outputs/apk/release/*.apk
